---
layout: default
title: Shop All eBooks
---

<!-- Intro/Sales Pitch Section -->

<section class="grid md:grid-cols-2 p-5p items-center">

        <div class="">
            <img src="https://images.unsplash.com/photo-1609895314390-cb64c186466a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZWJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="ebook" class="object-cover w-full max-h-full">
        </div>

        <div class="leading-loose ml-12">
            <h2 class="font-bold pb-4">Intro/Sales Pitch Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus recusandae beatae distinctio explicabo deleniti eveniet cupiditate repudiandae exercitationem quia. A illum minima quae, nobis suscipit ullam asperiores itaque blanditiis perferendis nisi obcaecati velit molestias nam sequi quo adipisci natus culpa.</p>
        </div>

</section>

<!-- All/Most Popular E-Books Gallery -->
<!-- in the future if we had more than 9 products we would do pagination - using javascript -->

<section class="bg-stone-100 p-5p">

    {% assign ebooks = site.products-ebooks %}
    {% assign featuredEbooks = ebooks %}

    <h2 class="text-center font-bold pb-8">Most Popular Ebooks</h2>

    <!-- div to make our ebook "cards" - includes img, title, price -->
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">

        {% for ebook in featuredEbooks limit:9 %}
        <a href="{{ebook.url}}">    
            <div class="bg-white p-5p">
                <img src="{{ebook.product_path}}" alt="{{ebook.alt}}" class="object-cover w-full h-72" />
                <div class="grid grid-cols-2 p-1">
                    <h3> {{ebook.title}} </h3>
                    <h3 class="text-right">${{ebook.price}}</h3>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</section>

<!-- Sneak Peek Carousel -->
<!-- use a for loop to pull content for each slide + image and output it from the frontmatter -->
<!-- my variables are: title, description_html, price, product_path (img), alt, featured, sneakpeek_path, sneakpeek_alt and type -->

<section class="p-5p">
    <h2 class="text-center text-4xl font-bold">a sneak peek</h2>
    <p class="text-center italic">of what you'll see inside each ebook</p>

    <div class="grid md:grid-cols-2 pt-5p">

        {% for ebook in featuredEbooks limit:1 %}
        <!-- this will not be limit:1 once we have our javascript slider - want to have all ebooks cycle thru this - or limit to 9 or however many we decide -->

        <!-- do we want this to pull from the front matter of this page specifically or have each individual ebook page have a separate image for sneak peek? and maybe a different description? in our notes we're pulling it from the front matter of this page - i remember she said that we'd do this for a reason but what was the reason?? -->

        <div class="relative">
            <img src="{{ebook.sneakpeek_path}}" alt="{{ebook.sneakpeek_alt}}" class="md:absolute object-cover w-full h-full">
        </div>

        <div class="leading-loose pt-5p md:pl-5p">
                <h2 class="font-bold border-b lg:border-none">{{ebook.title}}</h2>
                <p class="mt-4">{{ebook.description_html}}</p>
        </div>

        {% endfor %}

    </div>
</section>

<!-- Testimonials Section -->

<!-- <section class="h-64 grid items-center bg-stone-100">
    
    {% assign testimonials = site.data.testimonials %}
    {% assign ebookTestimonials = testimonials | where: 'product-type', 'ebook' %}
    {% for testimonial in ebookTestimonials limit:6 %}

    <div class="text-center">
        <p>"{{testimonial.quote}}"</p>
        <p>- {{testimonial.name}}</p>
    </div>

    {% endfor %}

</section> -->

{% include testimonials.html %}

<!-- FAQs Section -->

{% include faq_ebook.html %}