---
layout: default
video_path: https://www.youtube.com/embed/-FYAJ1Jw2CI
---

<!-- Intro/Sales Pitch Section -->

<section class="grid md:grid-cols-2 p-5p items-center">

        <div class="p-5p">
            <img src="https://images.unsplash.com/photo-1609895314390-cb64c186466a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZWJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="ebook" class="object-cover w-full max-h-full">
        </div>

        <div class="leading-loose p-5p">
            <h2 class="">Intro/Sales Pitch Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus recusandae beatae distinctio explicabo deleniti eveniet cupiditate repudiandae exercitationem quia. A illum minima quae, nobis suscipit ullam asperiores itaque blanditiis perferendis nisi obcaecati velit molestias nam sequi quo adipisci natus culpa.</p>
        </div>

</section>

<!-- All/Most Popular Presets Gallery -->
<!-- in the future if we had more than 9 products we would do pagination - using javascript -->


<section class="bg-stone-100 p-5p">

    <h2 class="text-center">Most Popular Presets</h2>

    {% assign presets = site.products-presets %}
    {% assign featuredPreset = presets %}

    <!-- div to make our preset "cards" - includes img, title, price -->
    <div class="p-5 grid sm:grid-cols-2 md:grid-cols-3 gap-4">

        {% for preset in featuredPreset limit:9 %}
            
            <div class="bg-stone-100 p-5p">
                <img src="{{preset.product_path}}" alt="{{preset.alt}}" class="object-cover w-full h-72" />
                <div class="grid grid-cols-2 p-1">
                    <h3> {{preset.title}} </h3>
                    <h3 class="text-right">${{preset.price}}</h3>
                </div>
            </div>

        {% endfor %}

    </div>

</section>

<!-- Before/After Slider -->
<!-- Similar loop to above, but this time we are pulling the name, before image and after image. 
Then we’ll use javascript to make it into before / after slider. When you click on the presets on the left hand size, it changes the image on the right.  -->

<section class="p-5p ">

    <div class="grid grid-cols-8 pt-5p gap-4 items-center">

        
        <div class="col-span-1 text-center">
            {% for example in featuredPreset limit:4 %}
            <p class="sliderButton cursor-pointer" data-target-button={{forloop.index}}>{{example.title}}</p>
            {% endfor %}
        </div>
        
        <div class="col-span-7">
            {% for example in featuredPreset %}
            <div class="sliderSection {% unless forloop.index == 1 %} collapse {% endunless %}" data-target-more="{{forloop.index}}">
        <div class="ba-container">
            <!-- <img src="{{example.before_path}}" alt="example.beforealt" class="ba-img ba-background-img">
            <img src="{{example.after_path}}" alt="example.afteralt" class="ba-img ba-background-img"> -->
            <!-- <img src="{{example.after_path}}" alt="example.afteralt" class="object-cover w-full h-[50vh]"> -->
            <div class='ba-img ba-background-img' style="background-image: url({{example.before_path}});"></div>
            <div class='ba-img ba-foreground-img' style="background-image: url({{example.after_path}});"></div>
            <input type="range" min="1" max="100" value="50" class="ba-slider" name='ba-slider' id="ba-slider">
            <div class='ba-slider-button'></div>
        </div>
        </div>
            {% endfor %}

    </div>
</section>

<!-- Video How-to Section -->

{% include video.html %}

<!-- Testimonials Section -->

<section class="h-64 grid items-center bg-stone-100">
    
    {% assign testimonials = site.data.testimonials %}
    {% assign presetTestimonials = testimonials | where: 'product-type', 'preset' %}
    {% for testimonial in presetTestimonials limit:6 %}

    <div class="text-center">
        <p>"{{testimonial.quote}}"</p>
        <p>- {{testimonial.name}}</p>
    </div>

    {% endfor %}

</section>

<!-- FAQs Section -->

{% include faq_preset.html %}