---
layout: default
title: Shop Page
seo:
 title:
 meta-description:
 meta-keywords:
 featured-image_path:
 hide-from-google:
---

<!-- featured product section -->

<section class="grid md:grid-cols-2 p-5p">

    {% assign ebooks = site.products-ebooks %}
    {% assign featuredEbooks = ebooks | where: 'featured', 'true' %}
    {% for ebook in featuredEbooks limit:1 %}

        <div class="relative">
            <img src="{{ebook.product_path}}" alt="{{ebook.alt}}" class="md:absolute object-cover object-center w-full h-72 md:h-full">
        </div>

        <div class="leading-loose p-5p">
            <h2 class="">{{ebook.title}}</h2>
            <p class="">{{ebook.description_html}}</p>
            <a href="{{ebook.url}}" class="inline-block px-9 py-3 bg-black text-white mt-4 md:mt-0 hover:bg-yellow-900 hover:opacity-95 hover:text-white uppercase tracking-wide">Buy Now</a>
        </div>
      		
    {% endfor %}

</section>

<!-- most popular/featured EBOOKS section -->

<section class="bg-stone-100 p-5p">

    <h2 class="text-center">Most Popular Ebooks</h2>

    <!-- div to make our ebook "cards" - includes img, title, price -->
    <div class="p-5 grid sm:grid-cols-2 md:grid-cols-3 gap-4">

        {% for ebook in featuredEbooks offset: 1 limit:3 %}
            <a href="{{ebook.url}}">
                <div class="bg-white p-5p">
                    <img src="{{ebook.product_path}}" alt="{{ebook.alt}}" class="object-cover w-full h-72" />
                    <div class="grid grid-cols-2 p-1">
                        <h3> {{ebook.title}} </h3>
                        <h3 class="text-right">${{ebook.price}}</h3>
                    </div>
                </div>
            </a>

        {% endfor %}

    </div>

    <!-- shop all ebooks button -->

    <div class="leading-loose p-5p">
        <a href="ebooks.html" class="inline-block px-9 py-3 bg-black text-white mt-4 md:mt-0 hover:bg-yellow-900 hover:opacity-95 hover:text-white uppercase tracking-wider">Explore all ebooks</a>
    </div>

</section>

<!-- most popular/featured PRESETS section -->

<section class="p-5p">

    <h2 class="text-center">Most Popular Presets</h2>

    {% assign presets = site.products-presets %}
    {% assign featuredPreset = presets | where: 'featured', 'true' %}

    <!-- div to make our preset "cards" - includes img, title, price -->
    <div class="p-5 grid sm:grid-cols-2 md:grid-cols-3 gap-4">

        {% for preset in featuredPreset offset: 1 limit:3 %}
        
        <a href="{{preset.url}}">
            <div class="bg-stone-100 p-5p">
                <img src="{{preset.product_path}}" alt="{{preset.alt}}" class="object-cover w-full h-72" />
                <div class="grid grid-cols-2 p-1">
                    <h3> {{preset.title}} </h3>
                    <h3 class="text-right">${{preset.price}}</h3>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
        <!-- shop all presets button -->

        <div class="leading-loose p-5p">
            <a href="presets.html" class="inline-block px-9 py-3 bg-black text-white mt-4 md:mt-0 hover:bg-yellow-900 hover:opacity-95 hover:text-white uppercase tracking-wider">Explore all Presets</a>
        </div>

</section>

<!-- Testimonials Section -->

{% include testimonials.html %}
