@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer components {
    .button {
        @apply inline-block p-6 bg-blue-600 text-white hover:bg-blue-800 transition;
    }
}

h2 {
    @apply font-nunito;
}

.hidden {
    display: none;
}

.expandButton::after {
    content: '\02795';
}

.active::after {
    content: "\2212";
  }

  .expandable {
      overflow: hidden;
      max-height: 5rem;
      transition: .8s;
  }

  .collapse {
      max-height: 0;
      transition: .5s;
      overflow: hidden;
      padding: 0;
  }