@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer components {
    .button {
        @apply inline-block p-6 bg-blue-600 text-white hover:bg-blue-800 transition;
    }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply font-sans text-trueGray-900;
}

h2, h3, h4 {
  @apply uppercase text-lg tracking-wide;
}

a {
  @apply hover:text-trueGray-100 tracking-wide;
}

.capped-width {
  max-width: 1200px;
}



/* h2 {
    @apply font-nunito;
} */

/* .hidden {
    display: none;
} */

.expandButton::after {
    content: '\02795';
}

.active::after {
    content: '\2212';
  }

  .expandable {
      overflow: hidden;
      max-height: 5rem;
      transition: .8s;
  }

  .collapse {
      max-height: 0;
      transition: .5s;
      overflow: hidden;
      padding: 0;
  }

  /* Testimonial Styles */

 .slider-container {
     max-width: calc(100vw - 10rem);
 }

  .slick-next::before, .slick-prev::before {
    font-family: slick;
    font-size: 36px;
    line-height: 1;
    opacity: .75;
    color: #960000;
}

.hamburger-button {
    font-size: 2rem;
}
.mobile-menu:active {
    display: block;
}

/* Before/After Slider Styles */

  
  .ba-container {
    position: relative;
    width: 90%;
    padding-bottom: 50%;
    border: 2px solid white;
    margin:auto;
  }
  .ba-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 90vw;
    background-position: left;
  }
  .ba-background-img {
    /* background-image: url('https://images.unsplash.com/photo-1523538290088-51e3e7d1c00d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80'); */
  }
  .ba-foreground-img {
    /* background-image: url('https://images.unsplash.com/photo-1532347922424-c652d9b7208e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2639&q=80'); */
    width: 50%;
  }
  .ba-slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ba-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 100%;
    background: white;
    cursor: pointer;
  }
  .ba-slider::-moz-range-thumb {
    width: 6px;
    height: 100%;
    background: white;
    cursor: pointer;
  }
  .ba-slider-button {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ba-slider-button:after {
    content: '';
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
  }
  .ba-slider-button:before {
    content: '';
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
  }
  
  /* Form Styles */

  #center {
    display: flex;
    position: relative;
    justify-content: center;
  }
  #myForm {
    max-width: 500px;
    margin: 2rem auto;
    border-radius: 6px;
    #name, #show, textarea {
      display: block;
      width: 96.5%;
    }
  }
  span {
    color: rgb(19, 152, 175);
    opacity: .8;
    padding-left: .5rem;
  }
  #send {
    width: 100%;
    border-radius: 4px;
  }
  