<section class="pt-6">
    <h3 class="text-center pb-6">Frequently Asked Questions</h3>

    <!-- EBook Facts Loop -->

    {% assign faqs = site.data.faqs %}
    {% assign ebookFaqs = faqs | where: 'type', 'ebook' %}

    <!-- <h2>E-Book FAQs</h2> -->
    <div class="bg-white p-5p pt-0">

    {% for item in ebookFaqs%}
        <div class="">
            <button class="flex justify-between expandButton p-6 bg-stone-100 cursor-pointer w-full hover:bg-stone-200" data-target-button="{{forloop.index}}">
                <h3 class="text-left">{{item.question}}</h3>
            </button>
            <div class="expandable collapse p-6" data-target-more="{{forloop.index}}">
                <p>{{item.answer}}</p>
            </div>
        </div>
    

    {% endfor %}
    </div>
</section>