<!-- header that holds the logo, search and nav bar w/categories -->
<header class="px-5p py-7 border-b border-opacity-60">

    <div class="grid grid-cols-2 items-center">
  
      <!-- logo for the nav bar -->
      <div class="grid justify-left">
        <a href="/shop.html" class="logo text-6xl font-bold hover:text-trueGray-100"> LOGO </a>
      </div>

      <nav id="site-menu" class="grid justify-end text-right hidden md:block tracking-wide font-semibold uppercase p-2">
          <a href="/shop.html" class="px-5">Home</a>
          <a href="/ebooks.html" class="px-5">E-books</a>
          <a href="/presets.html" class="px-5">Presets</a>
          <a href="/contact.html" class="px-5 md:hidden lg:inline-block">Contact</a>
      </nav>

      <div class="grid justify-end md:hidden">
        <button class="hamburger-button md:hidden active:text-yellow-900 hover:text-trueGray-100 cursor-pointer inline-block z-10"> &#9776; </button>
      </div>

  </header> 

   <div class="bg-trueGray-100 p-5p fixed inset-0 text-center collapse mobile-menu transition-all z-10"> 
      <nav> 
        <div class="static mb-12">
          <button class="hamburger-button absolute top-8 right-8 text-white active:text-redPop-100">x</button>
        </div>
        <a href="/shop.html" class="block text-white p-6 hover:bg-white hover:text-yellow-900 active:text-redPop-100">Home</a>
        <a href="/ebooks.html" class="block text-white p-6 hover:bg-white hover:text-yellow-900 active:text-redPop-100"> E-books</a>
        <a href="/presets.html" class="block text-white p-6 hover:bg-white hover:text-yellow-900 active:text-redPop-100">Presets</a>
        <a href="/contact.html" class="block text-white p-6 hover:bg-white hover:text-yellow-900 active:text-redPop-100">Contact</a>
      </nav>
    </div>  



      <!-- search icon -->
      <!-- <div class="grid justify-end">
        <a href="/search.html" class="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-8 h-8 md:w-10 md:h-10 hover:text-cyan-600">
          <path strokeLinecap="round" strokeLinejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </a>
      </div> -->