---
layout: default
---

<!-- product showcase - title, description, buy button -->

<section class="grid md:grid-cols-2 p-5p">

    <div class="relative">
        <img src="{{page.product_path}}" alt="{{page.alt}}" class="md:absolute object-cover object-center w-full h-72 md:h-full">
    </div>

    <div class="leading-loose p-5p">
        <h2 class="">{{page.title}}</h2>
        <p>{{page.description_html}}</p>
        <a href="#" class="inline-block px-9 py-3 bg-black text-white mt-4 md:mt-0 hover:bg-yellow-900 hover:opacity-95 hover:text-white uppercase tracking-wide">Buy Now</a>
    </div>
          
</section>

<!-- Before/After Slider -->
<!-- Similar loop to above, but this time we are pulling the name, before image and after image. 
Then we’ll use javascript to make it into before / after slider. When you click on the presets on the left hand size, it changes the image on the right.  -->

<section class="p-5p">

    <div class="grid grid-cols-8 pt-5p gap-4 items-center">

        <div class="col-span-1">
            <p><a href="">{{page.title}}</a></p>
        </div>

        <div class="col-span-7">
            <img src="{{page.before_path}}" alt="page.beforealt" class="object-cover w-full h-[50vh]">
            <!-- <img src="{{example.after_path}}" alt="example.afteralt" class="object-cover w-full h-[50vh]"> -->

            <!-- hiding this image and limiting loop to one until we have javascript info -->
        </div>
    </div>
</section>

<!-- Video How-to Section -->

{% include video.html %}

<!-- Review Carousel -->
<!-- will be using stamped.io but need a shopify url first to link it to -->


<section class="h-64 grid items-center bg-stone-100">
    
    {% assign testimonials = site.data.testimonials %}
    {% assign presetTestimonials = testimonials | where: 'product-type', 'preset' %}
    {% for testimonial in presetTestimonials limit:6 %}

    <div class="text-center">
        <p>"{{testimonial.quote}}"</p>
        <p>- {{testimonial.name}}</p>
    </div>

    {% endfor %}

</section>

<!-- FAQs Section -->
<!-- if i want to pull in just the facts for the preset section, would need to break up my faqs include files for each one & separate it out ie. faq_general, faq_ebook, faq_preset -->

{% include faq.html %}

<!-- Related/More eBooks you might like -->

<section class="p-5p">

    {% assign presets = site.products-presets %}
    {% assign featuredPresets = presets %}

    <h2 class="text-center pb-6">Most Popular Presets</h2>
    
    <div class="pb-6 grid sm:grid-cols-2 md:grid-cols-3 gap-4">

    {% for presets in featuredPresets offset:1 limit:3 %}

        <a href="{{presets.url}}">

            <!-- div to make our ebook "cards" - includes img, title, price -->

            <div class="bg-stone-100 p-5p">
                <img src="{{presets.product_path}}" alt="{{presets.alt}}" class="object-cover w-full h-72" />
                <div class="grid grid-cols-2 p-1">
                    <h3> {{presets.title}} </h3>
                    <h3 class="text-right">${{presets.price}}</h3>
                </div>
            </div>

        </a>

        {% endfor %}
    </div>

    <div class="leading-loose pt-6">
        <a href="{{ebook.url}}" class="text-center block px-9 py-3 bg-black text-white mt-4 md:mt-0 hover:bg-yellow-900 hover:opacity-95 hover:text-white uppercase tracking-wide">Explore all Presets</a>
    </div>

</section>

